body{
    background-color: brown;
    width: 100%;
}
.jumbotron{
    background-color: crimson;
    background-image: url("../images/dance-papuans-dancing-african-people-260nw-773214946.webp");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: cornsilk;
} 
.row{
    /* display: flex; */
    background-color: orange;
    border-radius: 10px;
    height: 500px;
    background-image: url("../images/paul-zoetemeijer-ekBOf6sJYYo-unsplash.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
}
.about{
    background-color: black;
    text-align: center;
    border-radius: 5px;
    color: blanchedalmond;
    background-image: url("../images/terry-vlisidis-WsEbnsnKbUE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.form-group{
    align-items: center;
    text-align: center;
    font-size: large;
    color:red;
    font-style: oblique;
    background-color: yellow;
    border: 2px, black;
    margin: 150px;
    margin-left:60px ;
    padding-top: 20px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.form-group button{
    background-color: black;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    color: cornsilk;
    border-radius: 5px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 80px;
    margin-right: 20px;
    border-radius: 10px;
    height: 250px;
    background-color: yellow;
    font-size: large;

  }
  th{
    border: 3px solid black;
    border-collapse: collapse;
    font-size: large;
    text-align: center;
    background-color: black;
    color: white;
  }
  td{
    border: 3px solid black;
    border-collapse: collapse;
    font-size: large;
    text-align: center;
  }
  .caption{
      caption-side: top;
      text-align: center;
      color: black;
      font-size: xx-large;
  }
footer{
    text-align: center;
    margin-top: 30px;
    color: black;
}
